<div class="jumbotron  heads">
    <div class="text-center ">
      <h3 class="todo">TODO Application
        <span> <button class="btn btn-info" *ngIf="display">{{this.todoarray.length}}</button> </span></h3>
    </div>
  </div>
  
  <div class="jumbotron container-fluid head">
    
    <!-- <span class="dat"><button class="btn btn-primary">Date :- {{ date | date: 'MM-dd-yy' }}</button></span> -->
    <div class="input-group mb-3">
      <input class="center" type="text" [(ngModel)]="todolist" placeholder="enter your todo here"
        class="text-muted form-control">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="pushit()">ADD</button>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <table class="table table-bordered table-dark tab bl-2">
      <thead *ngIf="display">
        <tr>
          <th></th>
          <th>todo</th>
        </tr>
      </thead>
      <tr *ngFor="let ele of todoarray; let i = index;" class="text-white">
        <td class="ele">
          <!-- <div class="input-group">
            <div class="input-group-prepend"> -->
          <input type="checkbox">
          <!-- </div> -->
          <!-- </div> -->
        </td>
        <td>
          <span> {{ ele}}</span>
        </td>
      </tr>
    </table>
  </div>
